*{
    color: pink;
}

h1{
    color: maroon;
}

body{
    background-color: rgb(148, 220, 235);
}

h2{
    color: #0a430a;
}
h3{
    color: #a84d07;
}
 
#headingone{
    color: black;
}
#headingtwo{
    color: rgb(203, 35, 35);
}

.myclass{
    color: chocolate;
}
button{
    color: black;
}

#box{
    background-color: blue;
}
.heading{
    color: red;
}